body {
  background-color: #252628;
  background-color: #6A6A6A;
  background-image: url("../img/bg.png");
  .background-image: url("../img/bg_alpha.png");
}

.container {
	margin-bottom: 60px;
}

h3 {
  color: #f5f4f4;
  text-shadow: #323131 1px 1px 0px;
}

h4 {
  color: #f5f4f4;
  text-shadow: #323131 1px 1px 0px;
}

a {
	color: #f2f1f1;
	.text-transform: uppercase;
}

a:hover {
	text-decoration: none;
	color: #f2f1f1;
}

small {
	color: #d0d1d2;
}

.btn-toolbar {
	margin-bottom: -5px;
}

.btn-filter {
  
  display: inline-block;
   padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  
  color: #000000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
 
 background-image: url("../img/btn-filter-bg.png");
  background-repeat: repeat-x;
   border: 1px solid #000000;
  border-bottom: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 5px  rgba(0, 0,0, 0.5);
          box-shadow: 0 1px 5px  rgba(0, 0, 0, 0.5);
}

.btn-filter:hover{
  color: #FFFFFF;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
 
  background-image: url("../img/btn-filter-bg-pressed.png");
 background-position: 0 0;
  /* Buttons in IE7 don't get borders, so darken on hover */
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.btn-custom {
  height: 26px;
  display: inline-block;
   padding: 4px 20px 4px;
  margin-bottom: 0;
  font-size: 13px;
  
  color: #000000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
 
 background-image: url("../img/btn-bg.png");
  background-repeat: repeat-x;
   border: 1px solid #000000;
  border-bottom: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 5px  rgba(0, 0,0, 0.5);
          box-shadow: 0 1px 5px  rgba(0, 0, 0, 0.5);
}

.btn-custom:hover{
  color: #000000;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
 
  background-image: url("../img/btn-bg-pressed.png");
 background-position: 0 0;
  /* Buttons in IE7 don't get borders, so darken on hover */
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


.btn-group.open .dropdown-toggle {
   color: #FAFAFA;
    text-decoration: none;
   
    background-image: url("../img/btn-filter-bg-pressed.png");
   background-position: 0 0;
}
   
.dropdown-menu   {
	background-color: #d0d3d6;
	 border-radius: 2px 2px 2px 2px;
	
}
   
.film-overview {
  margin-bottom: 20px;
}

.fim-overview {
	max-width: 150px;
}

.logo {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #b7494a;
  padding: 10px;
  
}
.logo a {
  color: #f5e7e7;
}

.brand {
  text-align: center;
}

.item {
	margin-bottom: 35px;
}

.heading_bg {
	height: 34px;
  background-color: #b62f30;
  background-image: url("../img/heading_bg.png");
  margin-bottom: 20px;
}

.heading_bg h3 {
  padding-left: 5px;
  color: #f5f4f4;
  text-shadow: #323131 1px 1px 0px;
  font-family: 'Oswald', Verdana, Tahoama, 'AllerRegular';
  white-space: normal;
  letter-spacing:0.03em;
}


.collapse-style, .events-title {
	background-color: rgba(23, 23, 23, .3);
	.border: 1px solid #000000;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.recommend, .userprofile, .events, .discussion, .messages	  {
	background-color: rgba(90, 90, 90, .4);
	.border: 1px solid #000000;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.genres {
	margin-top: 10px;
}

.ranking {
   color: #f5f4f4;
  text-shadow: #323131 1px 1px 0px;
  font-size: 18px;
}

.rating {
  margin-bottom: 15px;
}

.star-rating img{
  float: left;
  margin-right: 5px;
}

.userprofile {
	margin-top: 30px;
}

.userprofile img {
	height: 200px;
}
.response {
	margin-bottom: 10px;
}
#event1, #event2 {
	margin-bottom: 10px;
}

.discussion ul {
	list-style-type: none;
	margin-left: 0;
}

.discussion li {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
}

.discussion a {
	color: #FAFAFA;
}

hr {
	.background-color: #d9d8d8;
	background-image: url("../img/hr.png");
	height: 7px;
}

.facts hr {
	margin: 0;
}




.recommend h3, .userprofile h3, .discussion h3, .events h3, .messages h3 {
	padding: 40px;
	text-align: center;
	color: #FAFAFA; 
} 

.recommend a:hover, .userprofile a:hover, .discussion a:hover, .events a:hover, .messages a:hover {
	text-decoration: none;
	color: #ebebeb;
}

.table tr, .table td {
	 font-family: 'AllerRegular', Verdana, Tahoma, sans-serif;
	font-size: 13px;
}
.footer {
	height: 40px;
	margin-top: 10px;
	border-top: 5px solid #333;
	padding-top: 20px;
	background-color: #1A1A1A;
}

.footer p {
	color: #FAFAFA;
	text-align: center;
}